html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--page-background-color: rgb(240, 240, 240);
	--slide-background-color: rgb(250, 250, 250);
	--color-1: #351C4D;
	--color-2: #765285;
	--color-2-light: rgba(118, 82, 133, .5);
	--color-2-lighter: rgba(118, 82, 133, .1);
	--color-3: #FF7E5F;
	--color-4: #FEB47B;
	--color-5: #F5AB99;
	--default-element-shadow: 0 0 15px rgba(50, 50, 50, .25);
	--slight-element-shadow: 0 0 15px rgba(50, 50, 50, .15);
}

body {
	background-color: var(--page-background-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 900;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
	overflow: hidden;
}

.pr-stage {
	margin: auto;
	max-height: 100%;
	position: relative;
	width: 100%;
}

.pr-stage::before {
	content: '';
	display: block;
	padding-top: 75%;
}

.pr-slide {
	padding: 2rem 8rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--slide-background-color);
	box-shadow: 0 0 55px 65px rgba(50, 50, 50, .05);
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	visibility: hidden;
	opacity: 0;
	transition: transform .4s ease-out;
}

.pr-slide.is-active {
	visibility: visible;
	opacity: 1;
}

.pr-slide.is-prev {
	transform: translateX(-100%) scale(.9);
	visibility: visible;
	opacity: .5;
}

.pr-slide.is-next {
	transform: translateX(100%) scale(.9);
	visibility: visible;
	opacity: .5;
}

.pr-slide.is-prev-prev {
	transform: translateX(-150%) scale(.9);
}

.pr-slide.is-next-next {
	transform: translateX(150%) scale(.9);
}

h1,
h2,
h3 {
	width: 100%;
	flex-basis: 100%;
}

h1 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 3rem;
	color: var(--color-1);
	text-decoration: underline;
	text-decoration-color: var(--color-3);
}

h2 {
	font-size: 4rem;
	text-align: center;
	color: var(--color-2);
	text-decoration: underline;
	text-decoration-color: var(--color-4);
}

.pr-head {
	position: absolute;
	top: 2rem;
}

ul {
	margin: 0;
	padding: 0;
	color: var(--color-2);
	list-style: none;
}

ul > li {
	margin-bottom: 1rem;
	padding-left: 3rem;
	position: relative;
	font-size: 2rem;
}

ul > li strong {
	color: var(--color-1);
	text-decoration: underline;
	text-decoration-color: var(--color-3);
}

ul > li:last-child {
	margin-bottom: 0;
}

ul > li::before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 1.5rem solid transparent;
	border-bottom: 1.5rem solid transparent;
	border-left: 1.5rem solid var(--color-4);
	top: .5rem;
	left: 0;
}

ul > li.bottom-line {
	font-style: italic;
	color: var(--color-1);
}

ul > li > ul {
	margin: 2rem 0 0 3rem;
}

ul > li > ul > li::before {
	border-left: 1rem solid var(--color-5);
}

hr {
	margin: 1.5rem 0;
	padding: 0;
	width: 100%;
	opacity: 0;
}

.caption {
	padding: 1.5rem 2rem;
	background-color: #FFF;
	box-shadow: var(--slight-element-shadow);
}

.list-highlight {
	color: var(--color-1);
	text-decoration: underline;
	text-decoration-color: var(--color-3);
}

.code {
	padding: 0 .5rem;
	font-family: "Hack";
	color: var(--color-2);
	background-color: var(--color-2-lighter);
	border: 1px solid var(--color-2-light);
}

h1 .code {
	padding: 0;
	background-color: transparent;
	border: 0;
}

h2 strong {
	color: var(--color-1);
}